* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.active {
  background: lightgray;
}

::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

::-webkit-scrollbar-track {
  background: hsla(0, 0%, 100%, .1);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}